@import url("https://use.typekit.net/wpu2spg.css");

body {
    height: 100vh;
    margin: 0;
    font-family: 'Didot', Georgia, 'Times New Roman', Times, serif;
    background-color: #a4e9eb;
    cursor:pointer !important;
}
/*Makes Top Navigation look pretty*/
nav ul {
    list-style-type:none; /*Removes bullet points in nav*/
    margin: auto;
    overflow: hidden;
    width: 50%;
    padding: 0; /*Lines 12 thru 15 center nav items*/
    display: block; /*places nav items all in one line*/
    text-align: center;
    

    li {
        text-decoration: none;
        display: inline-block;
    } 

    a {
        padding: 0 1em;
        font-size: 22px;
        color: #000;
        text-decoration: none;
        display: inline;
        margin-left: 20px;

    }
    a:hover{
        color: #a4e9eb;
        background: #000;
        text-decoration: none;
        text-align: center;
        border-radius: 12px;
    }
}
/*Makes Greeting Block look pretty*/
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .headerblock {
        background-color: #000;
        color: #a4e9eb;
        font-weight: bold;
        font-size: 64px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px 5px;
        width: 100%;
        height: 30%;
        margin: 0 13%;
        text-align: center;
        
    }       
}
/*Makes the Call/Email/Personal Blog Buttons look pretty*/
.main-content{
    height: 70vh;
    h1{
        font-size: 82px;
        text-align: center;
    }
    h3, button {
        font-size: 64px;
        text-align: center;
    }
    h3 {
        margin-top: 4px;
    }
    list-style-type: none;
    margin: auto;
    width: 51%;
    padding: 0;
    display: block;
    text-align: center;



    a, .button{
        background-color: #000;
        color: #a4e9eb;
        font-size: 34px;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 20px;
        padding: 5px 12px;
        border-radius: 10px;
        text-align: center;
        line-height: inherit;
        align-items: baseline;
        
    }
    a:hover {
        background-color: #a4e9eb;
        color: #000;
        text-decoration: underline;
    }

}
.myname {
    margin-bottom: 2px;
}
hr {
    height: 4px;
    background-color: #000;
}

footer h2{
    font-size: 22px;
}
.footernav {
    padding: 2em;
    
    
}
.ul-footer li a:hover{
    text-decoration: underline !important;
    background-color: transparent !important;
    color: #000;

}
.ul-footer {
    margin: auto;
     padding: 0;
     overflow: hidden;
     width: 25%;
    
}

.ul-footer li a {
    list-style-type:none;
    padding: 0;
    display: inline;
    margin: auto;
    text-align: center;


}
/*******MOBILE CSS *******/
@media screen and (min-width:320px) and (max-width:599px){
    .nav-container{
        display: inline;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .nav-container li a {
        text-align: left;
        margin-top: 2px;
        
    }
    .main-content a, .main-content .button {
        line-height: 2;
    }

    footer {
        margin-top: 32px;
    }
}
@media screen and (min-width: 600px) and (max-width: 874px) {
    .nav-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .nav-container li a {
        text-align: center;
        margin-top: 2px;
        
    }
    .nav-container li a:hover {
        text-decoration: underline;
        background: transparent;
        color: #000;
    }

    nav{
        width: 100%;
    }

    nav ul{
        width: 100% !important;
        display:flex;
    }

    .main-content{
        width: 100%;
    }

    .main-content h1 {
        font-size: 50px;
    }
    .main-content h3 {
        font-size: 32px;
    }
    .main-content button a{
        width: 82px;
        text-align: center;
    }
    footer {
        margin-top: 13px;
    }
    .footernav ul{
        display: inline;
        justify-content: center;
    }
    .footernav h2 {
        text-align: center;
    }
    .main-content a, .main-content .button {
        background-color: #000;
        color: #a4e9eb;
        font-size: 34px;
        text-decoration: none;
        text-transform: uppercase;
        margin: auto;
        padding: 5px 12px;
        border-radius: 10px;
        text-align: center;
        line-height: inherit;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }



}

@media screen and (min-width: 875px) and (max-width: 991px){
    
    nav ul{
        width: 80%;
    }
    
    .main-content {
        width: 100%;
    }
    footer{
        margin-top: 26px;
    }
    .ul-footer {
        width: 100%;
    }   
}

/*@media only screen and (min-width: 876px) and (max-width:991){
    nav ul{
        width: 80%;

    }
    .main-content {
        width: 100%;
    
    }
    footer {
        margin-top: 13px;
    }

    .ul-footer {
        width: 100%;
    }
}*/

@media only screen and (min-width: 992px) and (max-width:1224px){
    footer {
        margin-top: 10%;
    }

    .ul-footer {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }
} 

@media only screen and (min-width: 1224px) and (max-width: 1274px){
    .main-content {
        width: 54%;
    }
}




/*******ABOUT ME PAGE *******/
#about-main {
        text-decoration: none;
        padding: 5px 25px;
        width: 50%;
        text-align: left;
        margin-right: 25%;
        margin-left: 25%;
    
}
/******END ABOUT ME CSS *****/

/******PORTFOLIO PAGE CSS ******/
.container {
    display: grid;
      grid-template-columns: 30% 30% 30%;
     grid-template-rows: 180px 180px;
       grid-row-gap: 45px;
      grid-column-gap: 45px;
      
  }
  #projects h1{
    color :#000;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
      
  }

  #projects {
      margin-left: 30px;
      align-items: center;
  }
  
  .project-tile {
    background-color: #000;
    color: #a4e9eb;
    border-radius: 12px;
    padding-left: 12px;
    font-family: 'Didot' serif;
   
  }
  
  .project-tile h3{
    text-decoration: underline;
    text-align: center;
  }
  
  .button {
    background-color: #a4e9eb;
    font-family: 'Didot', serif;
    color: #000;
    border: 12px solid #a4e9eb;
    border-radius: 12px;
  }
  
  a:hover {
    background-color: #000;
    text-decoration: underline !important;
    color: #a4e9eb;
    border-radius: 12px;
    border: 2px solid #000;

  }
  
  
  .btn {
    background-color: #a4e9eb;
    color: #000;
    border-radius: 12px;
    border: 3px solid #a4e9eb;
  }
  
  .btn-right {
    background-color: #a4e9eb;
    color: #000;
    border-radius: 12px;
    border: 3px solid #a4e9eb;
    margin-left: 4px;
  }
  
  .btn a:hover {
    text-decoration: underline !important;
  }
  
  #project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #project-links a{
    text-decoration: none;
  }
  /******END PORTFOLIO CSS ******/

  /******CONTACT PAGE CSS ******/

 #getintouch {
     margin: 0;
     display: flex;
     justify-content: center;
     border: 3px solid #000;
 } 

 #contact-form {
     padding: 20px 10px;
 }
 input, textarea, label {
     width: 300px;
     font-family: 'Didot', serif;
     display: block;
 }
 .submit-btn {
     background-color: #000;
     color: #a4e9eb;
     margin-top: 12px;
    width: 65px;
 }
 .submit-btn:hover {
    background-color: #a4e9eb;
    color: #000;
    margin-top: 12px;
   width: 65px;
}