@import url("https://use.typekit.net/wpu2spg.css");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Didot', Georgia, 'Times New Roman', Times, serif;
  background-color: #a4e9eb;
}

/*Makes Top Navigation look pretty*/
nav ul {
  list-style-type: none;
  /*Removes bullet points in nav*/
  margin: auto;
  overflow: hidden;
  width: 50%;
  padding: 0;
  /*Lines 12 thru 15 center nav items*/
  display: block;
  /*places nav items all in one line*/
  text-align: center;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
}

nav ul a {
  padding: 0 1em;
  font-size: 22px;
  color: #000;
  text-decoration: none;
  display: inline;
  margin-left: 20px;
}

nav ul a:hover {
  color: #a4e9eb;
  background: #000;
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
}

/*Makes Greeting Block look pretty*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .headerblock {
  background-color: #000;
  color: #a4e9eb;
  font-weight: bold;
  font-size: 64px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 5px;
  width: 100%;
  height: 30%;
  margin: 0 13%;
  text-align: center;
}

/*Makes the Call/Email/Personal Blog Buttons look pretty*/
.main-content {
  height: 70vh;
  list-style-type: none;
  margin: auto;
  width: 50%;
  padding: 0;
  display: block;
  text-align: center;
}

.main-content h1 {
  font-size: 82px;
  text-align: center;
}

.main-content h3, .main-content button {
  font-size: 64px;
  text-align: center;
}

.main-content h3 {
  margin-top: 4px;
}

.main-content a, .main-content .button {
  background-color: #000;
  color: #a4e9eb;
  font-size: 34px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 5px 12px;
  border-radius: 10px;
  text-align: center;
  line-height: inherit;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-content a:hover {
  background-color: #a4e9eb;
  color: #000;
  text-decoration: underline;
}

.myname {
  margin-bottom: 2px;
}

hr {
  height: 4px;
  background-color: #000;
}

footer h2 {
  font-size: 22px;
}

.footernav {
  padding: 2em;
}

.ul-footer li a:hover {
  text-decoration: underline !important;
  background-color: transparent !important;
  color: #000;
}

.ul-footer {
  margin: auto;
  padding: 0;
  overflow: hidden;
  width: 25%;
}

.ul-footer li a {
  list-style-type: none;
  padding: 0;
  display: inline;
  margin: auto;
  text-align: center;
}

/*******MOBILE CSS *******/
@media screen and (max-width: 600px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .nav-container li a {
    text-align: center;
    margin-top: 2px;
  }
  .nav-container li a:hover {
    text-decoration: underline;
    background: transparent;
    color: #000;
  }
  nav {
    width: 100%;
  }
  nav ul {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-content h1 {
    font-size: 50px;
  }
  .main-content h3 {
    font-size: 32px;
  }
  .main-content button a {
    width: 82px;
    text-align: center;
  }
  footer {
    margin-top: 13px;
  }
  .footernav ul {
    display: inline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footernav h2 {
    text-align: center;
  }
  .main-content a, .main-content .button {
    background-color: #000;
    color: #a4e9eb;
    font-size: 34px;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    padding: 5px 12px;
    border-radius: 10px;
    text-align: center;
    line-height: inherit;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

@media screen and (max-width: 875px) {
  nav ul {
    width: 80%;
  }
  .main-content {
    width: 100%;
  }
  footer {
    margin-top: 26px;
  }
  .ul-footer {
    width: 75%;
  }
}

@media only screen and (max-width: 992px) {
  nav ul {
    width: 80%;
  }
  .main-content {
    width: 100%;
  }
  footer {
    margin-top: 13px;
  }
  .ul-footer {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  nav ul {
    width: 80%;
  }
  .main-content {
    width: 100%;
  }
  footer {
    margin-top: 13px;
  }
  .ul-footer {
    width: 100%;
  }
}

/*******ABOUT ME PAGE *******/
#about-main {
  text-decoration: none;
  padding: 5px 25px;
  width: 50%;
  text-align: left;
  margin-right: 25%;
  margin-left: 25%;
}
/*# sourceMappingURL=main.css.map */