[submodule "sitcomsoulmates"]
	path = sitcomsoulmates
	url = https://github.com/malloryjoy/datingapp
[submodule "myBod"]
	path = myBod
	url = https://github.com/malloryjoy/myBod.git
[submodule "myGoals"]
	path = myGoals
	url = https://github.com/malloryjoy/myGoals.git
